<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.sky.dao.dosageforms.DosageformsMapper" >
  <resultMap id="BaseResultMap" type="com.sky.pojo.Dosageforms" >
    <id column="DosageFormsID" property="dosageformsid" jdbcType="INTEGER" />
    <result column="DosageFormsName" property="dosageformsname" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    DosageFormsID, DosageFormsName
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.sky.pojo.DosageformsExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from dosageforms
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from dosageforms
    where DosageFormsID = #{dosageformsid,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from dosageforms
    where DosageFormsID = #{dosageformsid,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.sky.pojo.DosageformsExample" >
    delete from dosageforms
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.sky.pojo.Dosageforms" >
    insert into dosageforms (DosageFormsID, DosageFormsName)
    values (#{dosageformsid,jdbcType=INTEGER}, #{dosageformsname,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.sky.pojo.Dosageforms" >
    insert into dosageforms
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="dosageformsid != null" >
        DosageFormsID,
      </if>
      <if test="dosageformsname != null" >
        DosageFormsName,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="dosageformsid != null" >
        #{dosageformsid,jdbcType=INTEGER},
      </if>
      <if test="dosageformsname != null" >
        #{dosageformsname,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.sky.pojo.DosageformsExample" resultType="java.lang.Integer" >
    select count(*) from dosageforms
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update dosageforms
    <set >
      <if test="record.dosageformsid != null" >
        DosageFormsID = #{record.dosageformsid,jdbcType=INTEGER},
      </if>
      <if test="record.dosageformsname != null" >
        DosageFormsName = #{record.dosageformsname,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update dosageforms
    set DosageFormsID = #{record.dosageformsid,jdbcType=INTEGER},
      DosageFormsName = #{record.dosageformsname,jdbcType=VARCHAR}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.sky.pojo.Dosageforms" >
    update dosageforms
    <set >
      <if test="dosageformsname != null" >
        DosageFormsName = #{dosageformsname,jdbcType=VARCHAR},
      </if>
    </set>
    where DosageFormsID = #{dosageformsid,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.sky.pojo.Dosageforms" >
    update dosageforms
    set DosageFormsName = #{dosageformsname,jdbcType=VARCHAR}
    where DosageFormsID = #{dosageformsid,jdbcType=INTEGER}
  </update>
</mapper>