<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.sky.dao.medicinekind.MedicinekindMapper" >
  <resultMap id="BaseResultMap" type="com.sky.pojo.Medicinekind" >
    <id column="MedicineKindID" property="medicinekindid" jdbcType="INTEGER" />
    <result column="MedicineKindName" property="medicinekindname" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    MedicineKindID, MedicineKindName
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.sky.pojo.MedicinekindExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from medicinekind
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from medicinekind
    where MedicineKindID = #{medicinekindid,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from medicinekind
    where MedicineKindID = #{medicinekindid,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.sky.pojo.MedicinekindExample" >
    delete from medicinekind
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.sky.pojo.Medicinekind" >
    insert into medicinekind (MedicineKindID, MedicineKindName)
    values (#{medicinekindid,jdbcType=INTEGER}, #{medicinekindname,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.sky.pojo.Medicinekind" >
    insert into medicinekind
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="medicinekindid != null" >
        MedicineKindID,
      </if>
      <if test="medicinekindname != null" >
        MedicineKindName,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="medicinekindid != null" >
        #{medicinekindid,jdbcType=INTEGER},
      </if>
      <if test="medicinekindname != null" >
        #{medicinekindname,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.sky.pojo.MedicinekindExample" resultType="java.lang.Integer" >
    select count(*) from medicinekind
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update medicinekind
    <set >
      <if test="record.medicinekindid != null" >
        MedicineKindID = #{record.medicinekindid,jdbcType=INTEGER},
      </if>
      <if test="record.medicinekindname != null" >
        MedicineKindName = #{record.medicinekindname,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update medicinekind
    set MedicineKindID = #{record.medicinekindid,jdbcType=INTEGER},
      MedicineKindName = #{record.medicinekindname,jdbcType=VARCHAR}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.sky.pojo.Medicinekind" >
    update medicinekind
    <set >
      <if test="medicinekindname != null" >
        MedicineKindName = #{medicinekindname,jdbcType=VARCHAR},
      </if>
    </set>
    where MedicineKindID = #{medicinekindid,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.sky.pojo.Medicinekind" >
    update medicinekind
    set MedicineKindName = #{medicinekindname,jdbcType=VARCHAR}
    where MedicineKindID = #{medicinekindid,jdbcType=INTEGER}
  </update>
</mapper>