<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.sky.dao.goodskind.GoodskindMapper" >
  <resultMap id="BaseResultMap" type="com.sky.pojo.Goodskind" >
    <id column="GoodsKindID" property="goodskindid" jdbcType="INTEGER" />
    <result column="GoodsKindName" property="goodskindname" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    GoodsKindID, GoodsKindName
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.sky.pojo.GoodskindExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from goodskind
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from goodskind
    where GoodsKindID = #{goodskindid,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from goodskind
    where GoodsKindID = #{goodskindid,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.sky.pojo.GoodskindExample" >
    delete from goodskind
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.sky.pojo.Goodskind" >
    insert into goodskind (GoodsKindID, GoodsKindName)
    values (#{goodskindid,jdbcType=INTEGER}, #{goodskindname,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.sky.pojo.Goodskind" >
    insert into goodskind
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="goodskindid != null" >
        GoodsKindID,
      </if>
      <if test="goodskindname != null" >
        GoodsKindName,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="goodskindid != null" >
        #{goodskindid,jdbcType=INTEGER},
      </if>
      <if test="goodskindname != null" >
        #{goodskindname,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.sky.pojo.GoodskindExample" resultType="java.lang.Integer" >
    select count(*) from goodskind
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update goodskind
    <set >
      <if test="record.goodskindid != null" >
        GoodsKindID = #{record.goodskindid,jdbcType=INTEGER},
      </if>
      <if test="record.goodskindname != null" >
        GoodsKindName = #{record.goodskindname,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update goodskind
    set GoodsKindID = #{record.goodskindid,jdbcType=INTEGER},
      GoodsKindName = #{record.goodskindname,jdbcType=VARCHAR}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.sky.pojo.Goodskind" >
    update goodskind
    <set >
      <if test="goodskindname != null" >
        GoodsKindName = #{goodskindname,jdbcType=VARCHAR},
      </if>
    </set>
    where GoodsKindID = #{goodskindid,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.sky.pojo.Goodskind" >
    update goodskind
    set GoodsKindName = #{goodskindname,jdbcType=VARCHAR}
    where GoodsKindID = #{goodskindid,jdbcType=INTEGER}
  </update>
</mapper>