/Counter.xml
/Dosageforms.xml
/Goodsallocation.xml
/Goodskind.xml
/Manufacturer.xml
/Medicine.xml
/Medicinecustomkind.xml
/Medicinekind.xml
/Menu.xml
/Mtiny.xml
/Privilege.xml
/Procurementplan.xml
/Role.xml
/Saitem.xml
/Sellaccount.xml
/Sellitem.xml
/Shift.xml
/Specification.xml
/Storageaccount.xml
/Supplier.xml
/Tinyunit.xml
/Unit.xml
/User.xml
/Userrole.xml
/Warehouse.xml
/applicationContext-mybatis.xml
/com
/database.properties
/log4j.properties
/mybatis-config.xml
/springmvc-servlet.xml
/view_GSPDrugBuy.xml
